table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

    table.blueTable td, table.blueTable th {
        border: 1px solid #AAAAAA;
        padding: 3px 2px;
    }

    table.blueTable tbody td {
        font-size: 13px;
    }

    table.blueTable tr:nth-child(even) {
        background: #D0E4F5;
    }

    table.blueTable thead {
        background: #0A5E98;
        background: -moz-linear-gradient(top, #4786b2 0%, #226ea2 66%, #0A5E98 100%);
        background: -webkit-linear-gradient(top, #4786b2 0%, #226ea2 66%, #0A5E98 100%);
        background: linear-gradient(to bottom, #4786b2 0%, #226ea2 66%, #0A5E98 100%);
        border-bottom: 2px solid #444444;
    }
        
    table.blueTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        border-left: 2px solid #D0E4F5;
    }

    table.blueTable thead th:first-child {
        border-left: none;
    }

    table.blueTable tfoot {
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        background: #064E71;
        background: -moz-linear-gradient(top, #447a94 0%, #1f5f7f 66%, #064E71 100%);
        background: -webkit-linear-gradient(top, #447a94 0%, #1f5f7f 66%, #064E71 100%);
        background: linear-gradient(to bottom, #447a94 0%, #1f5f7f 66%, #064E71 100%);
        border-top: 2px solid #444444;
    }

        table.blueTable tfoot td {
            font-size: 16px;
        }

        table.blueTable tfoot .links {
            text-align: right;
        }

            table.blueTable tfoot .links a {
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
            }
